{% extends 'base.html' %}


{% block title %} {{ post.title }} {% endblock %}

{% block content %}

<div class="post-container">
    {% for post in posts %}
            <div class="post">
                <h2>{{ post.title }}</h2>
                <h3>{{ post.postDate }}</h3>
                <p>{{post.content|truncatewords:20}}</p>
                <a href="{% url 'postDetail'  pk=post.pk %}" class="primary-button">About</a>
            </div>
    {% endfor %}
</div>


{% endblock %}